/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

 /* HEADER */
header {
    width: 95%;
    margin: .3em auto;
    height: 50px;
}

.header-flex {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.view {
    background-color: #4a4a4a;
    color: white;
    font-weight: 300;
    padding: .3em .5em;
    border-radius: 5px;
}
.fullscreen {
    background-color: #4a4a4a;
    color: white;
    text-align: center;
    font-weight: 300;
    padding: .3em .5em;
    border-radius: 5px;
    margin-left: .5em;
}

/* MAIN */
main {
    height: calc(100vh - 140px);
    margin: auto;
    overflow-y: auto;
}

.main-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.img {
    position: relative;
    margin: .4em .2em;
    background-color: black;
}

.user {
    position: absolute;
    left: 0;
    bottom: 4px;
    color: white;
    font-size: small;
    padding: .2em;
    background-color: rgba(128, 128, 128, .6);
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    width: 95%;
    margin: auto;
    background-color: #222222;
}

.col-left {
    display: flex;
    width: 10%;
    height: 100%;
    justify-content: flex-start;
}

.icon {
    display: flex;
    width: 65px;
    flex-direction: column;
    align-self: center;
    align-items: center;
    color: white;
}

.icon i {
    font-size: 1.7em;
}

.icon p {
    width: 125px;
    font-size: small;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
}

.angle {
    display: flex;
    align-items: center;
    color: white;
    margin-right: 1em;

}

.col-center {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: space-around;
}

.green {
    color: #4bc800;
}

.col-right {
    display: flex;
    width: 7%;
    height: 100%;
    justify-content: flex-end;
    background-color: #4a4a4a;
}

.end-meeting {
    display: flex;
    align-self: center;
    align-items: center;
    width: 100%;
    padding: 1em;
    color: red;
}